section {
    overflow: hidden;
}

article {
    width: 50%;
    float: left
}

section {
    background-color: lightseagreen;
    padding: 40px;
    overflow: hidden;
}

article {
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: center;
    border-left: solid dodgerblue 5px;
    float: left;
    box-sizing: border-box;
}